# Time Series Analysis Examples
In this notebook we will be transforming and exploring time-series data from Onboard API. Make sure to run the following chunk of code first in order to install it.

How to query time-series from data points, process and visually explore them. This notebook is outlined in several YouTube videos that discuss:
- how [to load and filter time-series data](https://youtu.be/KDThdyes8kc) from sensors
- [resample and transform time-series data](https://youtu.be/VlQNGwiSSKM)
- and [create heat maps and boxplots of data](https://youtu.be/QMr0y9LOlr8) for exploration

# Load Modules

In [91]:
import pandas as pd
import numpy as np
from onboard.client import RtemClient

In [3]:
# using my google api key for geocoder
os.environ["GOOGLE_API_KEY"] = "AIzaSyB0cbtOQn4FhnsSMVPtxzewy9u_-3cZx-Y"
import geocoder, os

In [4]:
from datetime import datetime, timezone, timedelta
import pytz
from onboard.client.models import TimeseriesQuery, PointData
from onboard.client.dataframes import points_df_from_streaming_timeseries

# Create the client

For this notebook, you need to use the API Key with acces to the general scope and building:read scope. Let's create the client:

In [5]:
api_key = 'ob-p-_KnPccpVFOwKvS5u_SpKixHjKKq6H1JvrzwjxISOfPiNKKZ56_EeE5ORVJOGGtx0d_k'

In [6]:
client = RtemClient(api_key=api_key)

# Metadata

We will be using the metadata file we obtained from Onboard API in the previous notebook. Of course you can query these points again, but let's learn how to load and filter the data using *pandas*:

In [7]:
metadata = pd.read_csv("./rtem_all_points_metadata.csv")

Let's check the data types:

# Sort Building IDs

## Buildings whose electricity data is available

In [8]:
elec_data = metadata[(metadata.type == "Electric Consumption")]
elec_data = elec_data[(elec_data.last_updated.isnull() == False)]
# drop zero column
# gas_consumption_data = gas_consumption_data.loc[(gas_consumption_data['id_point'] != 205066)]
# gas_consumption_data = gas_consumption_data.loc[(gas_consumption_data['id_point'] != 227943)]
# gas_consumption_data = gas_consumption_data.loc[(gas_consumption_data['id_point'] != 227944)]
bdgs_elec = elec_data['building_id'].unique()

In [9]:
id_by_bdgs_elec = []
for b in bdgs_elec:
    id_by_bdgs_elec.append(elec_data[elec_data.building_id == b]['id_point'])

In [10]:
elec_data.sort_values(by=['first_updated'])

,id_point,building_id,last_updated,first_updated,device,objectId,name_point,description,units,tagged_units,...,measurement_id,datasource_hash,topic,equip_id,id_bdg,name_bdg,equip_type_abbr,equip_type_name,area_served_desc,tags
29969,203621,194,1.544418e+12,1.483248e+12,NaN,NaN,NaN,kWh,kWh,NaN,...,14,52e1cc9eaf9d16db2687c040835604f1,nyserda+0000086988+meter-site+kWh,18933,194,86988,METER,Meter,NaN,"['meter', 'elecMeter']"
27136,197985,137,1.576040e+12,1.483248e+12,NaN,NaN,NaN,meter_kwh,kWh,NaN,...,14,7b30508401a370c9d9649617c0da77bf,nyserda+0000092406+meter-site+meter_kwh,18076,137,92406,METER,Meter,NaN,"['meter', 'elecMeter']"
43635,217116,316,1.553220e+12,1.490198e+12,NaN,NaN,NaN,B-9 Front Doors,kWh,NaN,...,14,8e0bf3e01070fc34ccd5b6a1f38f468e,nyserda+0000108232+meter-frontDoors+B-9 Front ...,20929,316,108232,METER,Meter,NaN,"['meter', 'elecMeter']"
43634,217115,316,1.553220e+12,1.490198e+12,NaN,NaN,NaN,B-5 FOH Lights 9,kWh,NaN,...,14,4099b6ee6764d82269a5a5318a78fca8,nyserda+0000108232+meter-fohLights9+B-5 FOH Li...,20928,316,108232,METER,Meter,NaN,"['meter', 'elecMeter']"
43633,217114,316,1.553220e+12,1.490198e+12,NaN,NaN,NaN,B-4 FOH Lights 8,kWh,NaN,...,14,236f8e9cc0afcabf43d8a991f6ceeb81,nyserda+0000108232+meter-fohLights8+B-4 FOH Li...,20927,316,108232,METER,Meter,NaN,"['meter', 'elecMeter']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19048,359926,217,1.623383e+12,1.616192e+12,NaN,NaN,Tenant Submeter 2 value,NaN,NaN,kwh,...,14,d0882f3b40da16c79c94ced4a9328ece,nyserda+0000130079+elecMeter-submeter-2+Tenant...,32388,217,130079,METER,Meter,NaN,"['meter', 'elecMeter']"
19049,359927,217,1.623383e+12,1.616192e+12,NaN,NaN,Tenant Submeter 3 value,NaN,NaN,kwh,...,14,dc934345007223682108adf986b6c862,nyserda+0000130079+elecMeter-submeter-3+Tenant...,32389,217,130079,METER,Meter,NaN,"['meter', 'elecMeter']"
19051,359929,217,1.623383e+12,1.616192e+12,NaN,NaN,Tenant Submeter 7 value,NaN,NaN,kwh,...,14,dd11bc5ceeff0e4a011e2066944de978,nyserda+0000130079+elecMeter-submeter-7+Tenant...,32391,217,130079,METER,Meter,NaN,"['meter', 'elecMeter']"
7211,320560,443,1.625025e+12,1.618334e+12,NaN,NaN,SB-AHU_S_11_1A_PHEnergy,NaN,kWh,kwh,...,14,aef702c924c19144b94606849f7940fd,nyserda+0000149911+ahu-S-11+SB-AHU_S_11_1A_PHE...,29578,443,149911,AHU,Air Handling Unit,NaN,"['ahu', 'hvac']"
7224,320547,443,1.625025e+12,1.618334e+12,NaN,NaN,SB-AHU_S_11_1A_CHWEnergy,NaN,kWh,kwh,...,14,897bf9dc3f9e77614af40c89379b9b78,nyserda+0000149911+ahu-S-11+SB-AHU_S_11_1A_CHW...,29578,443,149911,AHU,Air Handling Unit,NaN,"['ahu', 'hvac']"

In [11]:
bdgs_elec

array([441, 191, 248, 249, 434, 285, 297, 322, 419, 470, 426, 423, 105,
       107, 442, 443, 438, 395, 127, 100, 420, 136, 373, 176, 217, 108,
       112, 440, 119, 121, 120, 122, 110, 151, 129, 148, 115, 125, 465,
       132, 135, 137, 147, 146, 165, 172, 173, 170, 167, 160, 175, 164,
       179, 139, 194, 177, 187, 188, 206, 205, 210, 220, 224, 225, 226,
       236, 250, 252, 253, 264, 274, 275, 277, 282, 265, 294, 301, 307,
       311, 327, 332, 350, 372, 371, 380, 381, 386, 390, 394, 393, 123,
       155, 157, 158, 166, 260, 316, 353, 383])

# Querying time-series: Electricity Consumption

In [12]:
elec_points = list(elec_data.id_point)

In [13]:
elec_data.first_updated.apply(lambda x: datetime.fromtimestamp(x/1000, timezone.utc)).median()

Timestamp('2018-07-17 14:00:00+0000', tz='UTC')

In [14]:
elec_data.last_updated.apply(lambda x: datetime.fromtimestamp(x/1000, timezone.utc)).max()

Timestamp('2021-10-30 00:00:00+0000', tz='UTC')

In [15]:
sum(elec_data.first_updated.apply(lambda x: datetime.fromtimestamp(x/1000, timezone.utc)) >= datetime(2018, 1, 1, tzinfo=timezone.utc))

606

In [41]:
# Select your timezone
tz = pytz.timezone('UTC')

# Select your date and time (time is optional)
start = datetime(2017,2,1,0,0,0).replace(tzinfo=tz)
end = datetime(2018,9,24,0,15,0).replace(tzinfo=tz)

print(f"from {start} to {end}")

from 2017-02-01 00:00:00+00:00 to 2018-09-24 00:15:00+00:00

In [42]:
timeseries_query_elec = TimeseriesQuery(point_ids = elec_points, start = start, end = end)

In [43]:
# Exceute query (will return and object)
query_results_elec = client.stream_point_timeseries(timeseries_query_elec)

In [44]:
# Convert to dataframe
data_elec_time1 = points_df_from_streaming_timeseries(query_results_elec)

In [49]:
# Select your date and time (time is optional)
start = datetime(2018,9,24,0,0,0).replace(tzinfo=tz)
end = datetime(2019,9,24,0,15,0).replace(tzinfo=tz)

print(f"from {start} to {end}")

from 2018-09-24 00:00:00+00:00 to 2019-09-24 00:15:00+00:00

In [50]:
timeseries_query_elec = TimeseriesQuery(point_ids = elec_points, start = start, end = end)
# Exceute query (will return and object)
query_results_elec = client.stream_point_timeseries(timeseries_query_elec)
# Convert to dataframe
data_elec_time2 = points_df_from_streaming_timeseries(query_results_elec)

In [51]:
# Select your date and time (time is optional)
start = datetime(2019,9,24,0,0,0).replace(tzinfo=tz)
end = datetime(2020,10,30,0,0,0).replace(tzinfo=tz)

print(f"from {start} to {end}")

from 2019-09-24 00:00:00+00:00 to 2020-10-30 00:00:00+00:00

In [52]:
timeseries_query_elec = TimeseriesQuery(point_ids = elec_points, start = start, end = end)
# Exceute query (will return and object)
query_results_elec = client.stream_point_timeseries(timeseries_query_elec)
# Convert to dataframe
data_elec_time3 = points_df_from_streaming_timeseries(query_results_elec)

In [53]:
# Select your date and time (time is optional)
start = datetime(2020,10,29,23,45,0).replace(tzinfo=tz)
end = datetime(2021,10,30,0,0,0).replace(tzinfo=tz)

print(f"from {start} to {end}")
data_elec_time4 = points_df_from_streaming_timeseries(query_results_elec)

from 2020-10-29 23:45:00+00:00 to 2021-10-30 00:00:00+00:00

In [54]:
timeseries_query_elec = TimeseriesQuery(point_ids = elec_points, start = start, end = end)
# Exceute query (will return and object)
query_results_elec = client.stream_point_timeseries(timeseries_query_elec)
# Convert to dataframe
data_elec_time4 = points_df_from_streaming_timeseries(query_results_elec)

In [62]:
data_elec_time1

,timestamp,228392,203557,203558,203559,203560,203565,203570,212870,212871,...,228141,228181,228111,228129,228085,228207,228222,228341,228364,228378
0,2017-02-01T00:15:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-02-01T00:30:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-02-01T00:45:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-02-01T01:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-02-01T01:15:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118261,2018-09-23T23:50:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118262,2018-09-23T23:55:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118263,2018-09-24T00:00:00Z,NaN,0.14,0.004,0.342,0.114,0.081,0.0,0.337,0.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118264,2018-09-24T00:05:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118265,2018-09-24T00:10:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_elec = data_elec_time1.append(data_elec_time2, ignore_index=True)

In [ ]:
data_elec["timestamp"] = pd.to_datetime(data_elec['timestamp'], format='%Y-%m-%dT%H:%M:%S.%f')

In [70]:
data_elec

,timestamp,228392,203557,203558,203559,203560,203565,203570,208337,208338,...,344805,211154,211155,211156,211157,210781,210782,210783,210784,210785
0,2017-02-01 00:15:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-02-01 00:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-02-01 00:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-02-01 01:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-02-01 01:15:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018503,2021-10-29 23:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018504,2021-10-29 23:35:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018505,2021-10-29 23:40:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018506,2021-10-29 23:45:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1018507,2021-10-29 23:50:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
data_elec.set_index('timestamp').resample('1H').mean().reset_index()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [120]:
data_elec.to_csv("rtem_elec_time_series.csv", index=False)

In [63]:
data_elec = pd.read_csv("./rtem_elec_time_series.csv")

In [100]:
data_elec_by_bdgs = pd.DataFrame(pd.np.empty((0, len(bdgs_elec)))) 
data_elec_by_bdgs.columns = list(bdgs_elec)

/var/folders/0w/98g43rqs1psflll78k6ctzr00000gn/T/ipykernel_38358/769488834.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  data_elec_by_bdgs = pd.DataFrame(pd.np.empty((0, len(bdgs_elec))))

In [101]:
# add and rearrange timestamp column
data_elec_by_bdgs["timestamp"] = data_elec["timestamp"]
cols = data_elec_by_bdgs.columns.tolist()
cols = cols[-1:] + cols[:-1]
data_elec_by_bdgs = data_elec_by_bdgs[cols]

In [102]:
cols = data_elec_by_bdgs.columns[1:]
for col in cols:
    pts_in_bdg = list(elec_data['id_point'][elec_data.building_id == col].values)
    data_elec_in_bdg = data_elec[[str(x) for x in pts_in_bdg]]
    data_elec_by_bdgs[col] = data_elec_in_bdg.sum(axis=1, min_count=1)

In [104]:
data_elec_by_bdgs['timestamp'] = pd.to_datetime(data_elec_by_bdgs['timestamp'])

In [107]:
data_elec_by_bdgs = data_elec_by_bdgs.resample('H', on='timestamp').mean().reset_index()

In [89]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# This is for the visual stype, I like "ggplot"
plt.style.use('ggplot')

# This for the figure size
plt.rcParams["figure.figsize"] = (20,9)

In [96]:
# These are the sensors, one per column (first one is the timestamp)
cols = data_elec_by_bdgs.columns[1:3]
for col in cols:
    plt.figure()
    plt.plot(data_elec_by_bdgs['timestamp'], data_elec_by_bdgs[col])

KeyboardInterrupt

Error in callback <function flush_figures at 0x7fc7d9a63160> (for post_execute):

KeyboardInterrupt

# Building Info

In [92]:
bdgs_df = pd.read_csv("./rtem_building_info.csv")
bdgs_df['EUI_elec'] = np.nan

In [108]:
cols = data_elec_by_bdgs.columns[1:]
for col in cols:
    data_elec_by_bdgs[col] = 3.41 * data_elec_by_bdgs[col]

In [111]:
cols = data_elec_by_bdgs.columns[1:]
for col in cols:
    E_total = data_elec_by_bdgs[col].mean() * 365 * 24
    EUI = E_total / bdgs_df[bdgs_df.id == col]['sq_ft']
    bdgs_df.loc[bdgs_df.id == col, 'EUI_elec'] = EUI
    print(EUI)

0    0.0
Name: sq_ft, dtype: float64
2    1.175945
Name: sq_ft, dtype: float64
4    16.024295
Name: sq_ft, dtype: float64
5    3.352617
Name: sq_ft, dtype: float64
11    0.0
Name: sq_ft, dtype: float64
7    0.699714
Name: sq_ft, dtype: float64
8    1.085982
Name: sq_ft, dtype: float64
9    1.514232
Name: sq_ft, dtype: float64
12    18.558268
Name: sq_ft, dtype: float64
14   NaN
Name: sq_ft, dtype: float64
15    2.039708e+08
Name: sq_ft, dtype: float64
16    1.808929e+06
Name: sq_ft, dtype: float64
21    18116.451403
Name: sq_ft, dtype: float64
22    60.654088
Name: sq_ft, dtype: float64
28    23.453718
Name: sq_ft, dtype: float64
31    1952.240782
Name: sq_ft, dtype: float64
33    118810.225028
Name: sq_ft, dtype: float64
35    1.083236
Name: sq_ft, dtype: float64
41    9815.974079
Name: sq_ft, dtype: float64
43    41.462268
Name: sq_ft, dtype: float64
55    888042.89419
Name: sq_ft, dtype: float64
56    0.0
Name: sq_ft, dtype: float64
58    5.478574
Name: sq_ft, dtype: float64
59    7.339257
Name: sq_ft, dtype: float64
60    698.367049
Name: sq_ft, dtype: float64
74    4.239397
Name: sq_ft, dtype: float64
83    578.685854
Name: sq_ft, dtype: float64
84    832.74425
Name: sq_ft, dtype: float64
88    1.622452
Name: sq_ft, dtype: float64
91    44.965432
Name: sq_ft, dtype: float64
92    0.0
Name: sq_ft, dtype: float64
93    16115.919482
Name: sq_ft, dtype: float64
95    113.679161
Name: sq_ft, dtype: float64
96    0.627464
Name: sq_ft, dtype: float64
98    359.340297
Name: sq_ft, dtype: float64
99    16.89179
Name: sq_ft, dtype: float64
100    99.063907
Name: sq_ft, dtype: float64
102    0.416836
Name: sq_ft, dtype: float64
105    2465.332123
Name: sq_ft, dtype: float64
106    0.599771
Name: sq_ft, dtype: float64
108    2.170917
Name: sq_ft, dtype: float64
111    6.766007
Name: sq_ft, dtype: float64
115    1.130652
Name: sq_ft, dtype: float64
118    81.012139
Name: sq_ft, dtype: float64
121    2.8702
Name: sq_ft, dtype: float64
123    1.113252
Name: sq_ft, dtype: float64
124    1.323003
Name: sq_ft, dtype: float64
125    2432.144475
Name: sq_ft, dtype: float64
126    0.64002
Name: sq_ft, dtype: float64
127    1.136213
Name: sq_ft, dtype: float64
129    1.831598
Name: sq_ft, dtype: float64
131    15993.763956
Name: sq_ft, dtype: float64
132    15160.59048
Name: sq_ft, dtype: float64
134    5.750404
Name: sq_ft, dtype: float64
136    18.247013
Name: sq_ft, dtype: float64
137    3.00293
Name: sq_ft, dtype: float64
141    1.405692
Name: sq_ft, dtype: float64
142    3.47126
Name: sq_ft, dtype: float64
145    7975.969581
Name: sq_ft, dtype: float64
149    31.038801
Name: sq_ft, dtype: float64
150    0.44007
Name: sq_ft, dtype: float64
153    1.182561
Name: sq_ft, dtype: float64
154   NaN
Name: sq_ft, dtype: float64
155    0.499777
Name: sq_ft, dtype: float64
156    1.144766
Name: sq_ft, dtype: float64
157    1.658684
Name: sq_ft, dtype: float64
161    55.30072
Name: sq_ft, dtype: float64
162    1.74023
Name: sq_ft, dtype: float64
163    1357.413128
Name: sq_ft, dtype: float64
169    1.475871
Name: sq_ft, dtype: float64
171    3.00293
Name: sq_ft, dtype: float64
172    1065.718918
Name: sq_ft, dtype: float64
173    0.85205
Name: sq_ft, dtype: float64
175    13810.39775
Name: sq_ft, dtype: float64
176   NaN
Name: sq_ft, dtype: float64
179    2.417934
Name: sq_ft, dtype: float64
181    1.209624e+09
Name: sq_ft, dtype: float64
183    16376.731957
Name: sq_ft, dtype: float64
184    5116.74339
Name: sq_ft, dtype: float64
189    0.213172
Name: sq_ft, dtype: float64
191    13.951078
Name: sq_ft, dtype: float64
194    1.41222
Name: sq_ft, dtype: float64
197    0.631638
Name: sq_ft, dtype: float64
198    8.858266e+06
Name: sq_ft, dtype: float64
200    22086.618104
Name: sq_ft, dtype: float64
201    15.726468
Name: sq_ft, dtype: float64
204    0.155347
Name: sq_ft, dtype: float64
207    3.721419
Name: sq_ft, dtype: float64
210    203917.916702
Name: sq_ft, dtype: float64
211    23.648071
Name: sq_ft, dtype: float64
213    6.136414
Name: sq_ft, dtype: float64
215    2.328973
Name: sq_ft, dtype: float64
216    23458.350028
Name: sq_ft, dtype: float64
217    35.719006
Name: sq_ft, dtype: float64
218    1.327234
Name: sq_ft, dtype: float64
222    5.860101
Name: sq_ft, dtype: float64
223    8.390026
Name: sq_ft, dtype: float64
224    1.177602
Name: sq_ft, dtype: float64
226    1.01969
Name: sq_ft, dtype: float64

In [112]:
filename = 'rtem_building_info.csv'
bdgs_df.to_csv(filename, index=False)